body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 1250px;
	background-color: white;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: Oswald;
	text-transform: uppercase;
}

.page-wrapper {
	height: 100%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

#header {
	width: 100%;
	position: relative;
	height: 500px;
}

#header-img {
	width: 100%;
	position: absolute;
	top: -10;
	object-fit: cover;
	height: 620px;
}

#header-text {
	color: white;
	position: absolute;
	left: 33%;
	top: 40%;
	font-size: 70;
}

#links {
	position: relative;
	top: 450;
}

#pop-up-img1 {
	height: 45px;
	margin-left: 590px;
	margin-top: -65px;
}

#pop-up-img2 {
	height: 60px;
	margin-left: 265px;
	margin-top: -45px;
}

#pop-up-img3 {
	height: 50px;
	margin-left: 925px;
	margin-top: -65px;
}

.header-link {
	color: white;
	display: inline-block;
	z-index: 10;
	position: relative;
	margin-left: 21%;
	font-size: 20;
}

.text {
	position: absolute;
	font-size: 36px;
	color: rgba(128, 128, 128, 0.44);
	font-weight: 700;
	top: 10%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#work-text {
	top: 55%;
	left: 80%;
}

.section {
	width: 100%;
	position: relative;
	height: 700px;
}

#title-section {
	height: 500px;
}

#blog-section {
	height: 2500px;
	position: relative;
	background-color: white;
}

#blog-header {

}

#blog-header-img {
	margin-left: 28%;
}

#masonry-grid {
	margin-left: 15px;
	margin-right: 15px;
}

.grid-item {
	width: 300px;
	height: 300px;
	margin-bottom: 15px;
}

.grid-img {
	width: inherit;
	height: inherit;
}

.box {
	margin: 0px 0px 12px 0px;
	float: left;
}

a {
	text-decoration: none;
	color: white;
}

a.darken {
	display: inline-block;
	background-color: white;
	padding: 0;
	width: inherit;
	height: inherit;
}

a.darken img {
	display: block;
	opacity: 0.7;
}

a.darken span {
    display: none;
    position: absolute;
    top: 275px;
    color: #ADADAD;
}

.message {
	position: absolute;
	width: 300px;
	text-align: center;
}

#date1 {
	top: 5px;
}

#message2 {
	left: 404px;
}

#date2 {
	top: 5px;
	left: 445px;
}

#message3 {
	left: 698px;
}

#date3 {
	top: 5px;
	left: 760px;
}

#message4 {

left: 1020px;}

#date4 {
	top: 5px;
	left: 1075px;
}


#main-img {
	position: relative;
}

#about-section {
	background-color: #F5F5F5;
}

#contact-section {
	background-color: white;
}

.no-scroll {
	overflow: hidden;
}